<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<form method="post" action="add">
<!--    <div class="form-group">-->
<!--        <p th:text="${errorMessage}"></p>-->
<!--    </div>-->
    <div class="form-group">
        <label> Username:
            <input  th:field="${user.username}"th:value="${username}" class="form-control">
        </label>
        <p class="error" th:errors="${user.username}"></p>
    </div>
    <div class="form-group">
        <label> Email Id:
            <input th:field="${user.email}"th:value="${email}" class="form-control">
        </label>
        <p class="error" th:errors="${user.email}"></p>
    </div>
    <div class="form-group">
        <label> Password:
            <input type="password" th:field="${user.password}" th:value="${password}" class="form-control">
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>
    <div class="form-group">
        <label> Confirm Password:
            <input type="password" th:field="${user.verifyPassword}" class="form-control">
        </label>
        <p class="error" th:errors="${user.verifyPassword}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>

</form>
</body>
</html>